header, main, nav, footer, section, article, figure, figcaption, aside {display: block;}	



/* Navigation  */
/*-----------------------------------------*/

nav {
	position : fixed;
	top:0;
	width : 100%;
}

nav ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	clear: both;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color: #4CAF50;
}

nav ul ul  {
	position : absolute;
	padding : 0;
	text-align : left;
	display : none;
}

nav ul ul li {
	border-bottom : 1px solid #bbb;
	display : block;
	width : 8em;
	margin-left : 0;
}

nav ul li:last-child {
    border-right: none;
}

nav > ul > li:first-child {
    padding-left: 140px;
}

nav ul li a:hover {
    background-color: #111;
}

nav li:hover ul { display : block; }

nav div 
{
	width:100%;
	height:100%;
	background-color: #f3f3f3;
}

nav > div > a > img:first-child { padding-left: 140px; }


/*-----------------------------------------*/
/* Navigation  */

#wrapper {

}

.active {
    background-color: #c0c0c0;
}

.my-own-style {
	padding-left: 15%;
    padding-top: 150px;
	padding-right: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new_tab {
	target="_blank"
}

.image_float_right
{
	float: right;
	margin: 0 0 10px 10px;
}

figcaption{
	text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#background {     
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	opacity: 0.05;
	filter:alpha(opacity=5);
	z-index: -1;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {text-align:center;}

a {text-decoration: none;}

article {
	overflow: auto;
	}
	
form > * {
	margin: 5px 10px 5px 10px;
}
	
.tablecol10 {
	width:10%
}
	
th, td { border: 1px solid black; 
width : 40%;
padding: 5px 10px 5px 10px;
}

table {
border: 1px solid black;
width : 100%; 
table-layout: fixed;
}

table.center {
	margin-left:auto; 
	margin-right:auto;
}

td.padding { padding-left : 100px; }

tr.headingbcolor { background-color: #f2f2f2 }